@model MyPinterestVersion.Models.Category


@{
    ViewBag.Title = "Category display";
}

<h2>@ViewBag.Title</h2>
<h1>@Model.Name</h1>
<br />

<a class="btn btn-sm btn-info" href="/Categories/Edit/@Model.Id">Modifica categoria</a>
<br /><br />
<form method="post" action="/Categories/Delete/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button class="btn btn-sm btn-danger" type="submit">Delete Category</button>
</form>

<hr />
<a class="btn btn-sm btn-success" href="/Categories/Index">Back to categories</a>
<br />

